<!DOCTYPE html>
<html>
  <head>
    <title>RefinedFunction</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
      <li><%= link_to 'ユーザー一覧', users_path if logged_in? %></li>
    <% end %>
    <%= yield %>
  </body>
</html>
